
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Entry</title>
</head>
<body>
    <h2>Patient Entry Form</h2>
    <form method="post" action="{% url 'updateRecord' UserData.id %}">
        {% csrf_token %}
        <br>
        <label for="user_name">User Name:</label>
        <input type="text" value={{UserData.name}} name="user_name" required>
        <br>
        <label for="user_email">User Email:</label>
        <input type="text" value={{UserData.email_id}} name="user_email" required>
        <br>
        <label for="user_password">User Password:</label>
        <input type="text" value={{UserData.password}} name="user_password" required>
        <br>
        <label for="user_rePassword">User Re-Password:</label>
        <input type="text" value={{UserData.rePassword}} name="user_rePassword" required>
        <br>
        <label for="user_checkBox">I agree all statements in:</label>
        <input type="checkbox" value={{UserData.isTermsAgree}} name="user_checkBox" />
        <br>
        <button type="submit" value="">Update</button>
    </form>
</body>
</html>